---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Porfolio de crashlanxd - Desarrollador y Programador full-stack con 16 años de experiencia"
	description="Contrata a crashlanxd para crear tu aplicacion web, desktop o movil. Desarrollador Full-stack. Especializado en crear aplicaciones unicas."
>
	<main class="px-4">
		<SectionContainer class:list="py-44 pb-32">
			<img
				class="rounded-full size-12 mb-4"
				src="https://avatars.githubusercontent.com/u/133317864"
				alt="clxd photo"
			/>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pg-6 lg:pb-10">
				Hey, soy CLXD <a
					href="https://www.linkedin.com/in/midudev"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
					><Badge>Disponible para trabajar!</Badge></a
				>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>+15 años de experiencia.</span>
				<span class="text-yellow-200/90"
					>Desarollador web y Creador de Contenido.</span
				>
				<span class="text-red-200/90"> De CDMX, Mexico 🇲🇽.</span>
				<span class="opacity-75"
					>Especializado en crear aplicaciones unicas.</span
				>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://linkedin/in/midudev">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/CrashLanXD">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:crashlanxd@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					crashlanxd@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefcaseIcon class="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

	</main>
</Layout>
